body {
  margin: 0%;
}
.container1 {
  display: flex;
  background-color: rgb(70, 45, 182);
  color: aliceblue;
  font-weight: bold;

  justify-content: space-between;
  align-items: center;
  margin: 0%;
  height: 45px;
}
.nav1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 20%;
  height: 70%;
  padding-left: 9%;
}
.nav2 {
  display: flex;
  align-items: center;

  width: 20%;
  height: 70%;
  padding-right: 0.5%;
}
.border1 {
  border-right: 2px solid white;
  padding-right: 5px;
}
.border2 {
  border-right: 2px solid white;
  padding-right: 5px;
  margin-right: 10px;
}
.imgTop {
  background-image: url("https://www.freeiconspng.com/uploads/cart-icon-14.png");
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 20px;
  margin-right: 5%;
}
.container2 {
  display: flex;
  background-color: rgb(231, 238, 247);
  align-items: center;
}
.Qwirty {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(231, 238, 247);
  color: rgb(70, 45, 182);
  width: 15%;
  font-size: 40px;
  margin: 1% 0%;
}
.textBar {
  display: flex;
  width: 60%;
  height: 40px;
  margin-left: 3%;
}
.submitButton {
  display: flex;
  margin-left: 0%;
  padding-left: 0%;
  width: 2%;
  height: 38px;
}
.fin {
  background-color: red;
  font-size: 20px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 45px;
  margin-left: 3%;
  padding: 0%;
}
.sideBar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: rgb(231, 238, 247);
  width: 15%;
  margin-left: 10%;
  margin-top: 1%;
  padding-top: 2%;
}
.list {
  display: flex;
  align-items: center;
  margin: 1% 1%;
  padding: 0%;
  border-radius: 1%;
  background-color: rgb(70, 45, 182);
  color: white;
  font-size: x-large;
  height: 0.8%;
}
.shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: 40rem;
  gap: 0.5rem;
  background-color: rgb(231, 238, 247);
  margin-left: 0%;
  margin-right: 10%;
}
.box {
  background-color: rgb(231, 238, 247);
  margin: 10% 10%;
}
.productName {
  display: flex;
  background-color: rgb(70, 45, 182);
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 5%;
  margin: 0%;
  align-items: center;
}
.productImg {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  align-items: center;
}
.description {
  background-color: rgb(231, 238, 247);
  font-size: larger;
}
.pricAndCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 45, 182);
}
.price {
  display: flex;

  color: white;
  padding-left: 5%;
  font-size: larger;
  font-weight: bold;
}
#AddToCart {
  display: flex;
  width: 55%;
  justify-content: end;
  align-items: center;
}
.imageCart {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-image: url("https://static-00.iconduck.com/assets.00/plus-sign-circle-icon-256x256-rzmqx52y.png");
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 5%;
}
.container3 {
  display: flex;
  background-color: rgb(231, 238, 247);
}
.container4 {
  display: flex;
  background-color: rgb(114, 114, 255);
  color: white;
  justify-content: space-evenly;
}
.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 90%;
  margin: 0%;
  padding-right: 3%;
  background-color: rgb(70, 45, 182);
}

.footer2 {
  display: flex;
  flex-direction: column;
  width: 1%;
  margin: 0%;
  padding-left: 3%;
  padding-right: 0%;
  width: 33%;
  justify-content: baseline;
  align-items: baseline;
  background-color: rgb(70, 45, 182);
}
.footer3 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: rgb(70, 45, 182);
}
.footerHeader {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 3%;
}
.footerSub {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 0%;
}
